body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  /* background-image: url('/img/obey.jpg'); */
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 150px 200px;
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: darken;
  height: 100vh;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 100vh;
  width: 18%;
  right: 0;
  text-align: right;
  padding-left: 25px;
  padding-right: 25px;
  position: fixed;
}

.sidebar h4 {
  font-size: 3rem;
  padding: 5px;
}

.listingArea {
  position: relative;
  width: 80%;
  overflow-y: scroll;
  height: 100vh;
}
.listingArea::-webkit-scrollbar { 
  display: none; 
} 

ul {
  margin: 35px auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  pointer-events: inherit;
}

.adminTitle {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 25px;
}